<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Credentials</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body th:align="center">
<div th:include="header"></div>
<div class="jumbotron text-center">
    <h1>Credentials</h1>
</div>
<h3 th:object="${user}">
    <br th:text="'login : '+*{login}">
    <br th:text="'password : '+*{password}">
</h3>
<div th:include="footer"></div>
</body>
</html>