<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeoPosition list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body th:align="center">
<div th:include="header"></div>
<div class="jumbotron text-center">
    <h1>GeoPosition list</h1>
</div>
<table class="table table-hover" width="100%" align="center">
    <thead>
    <tr>
        <th>id</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>creation date</th>
    </tr>
    </thead>
    <tr class="info" th:each="geoposition : ${geopositions}">
        <th th:text="${geoposition.id}"></th>
        <th th:text="${geoposition.latitude}"></th>
        <th th:text="${geoposition.longitude}"></th>
        <th th:text="${geoposition.creationDate}"></th>
    </tr>
</table>
<p th:colspan="5">
    <a th:href="@{/geoposition}">Add GeoPosition</a>
</p>
<div th:include="footer"></div>
</body>

</html>