<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body align="center">
    {{> header}}
    <div class="jumbotron text-center">
        <h1>Welcome to Event Platform</h1>
    </div>
    <h2>Description</h2>
    <p>
        <br> I was called from <i>{{from}}</i>  :)
        <br><br> <b>{{date}}</b>
        <br> Data Hex: {{bgcolor}}
    </p>
    {{> footer}}
</body>

</html>