<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maintainer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body th:align="center">
<div th:include="header"></div>
<form method="post">
    <div class="jumbotron text-center">
        <h1>Create a Maintainer</h1>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name:</label>
        <input class="form-control" id="name" placeholder="Enter Name" name="name" required>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description:</label>
        <input class="form-control" id="description" placeholder="Enter Description"
               name="description" required>
    </div>
    <div class="form-group row">
        <label for="user" class="col-sm-2 col-form-label">User:</label>
        <select class="form-control" id="user" name="user" required>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.login}"></option>
        </select>
    </div>
    <div class="form-group row">
        <label for="geoPosition" class="col-sm-2 col-form-label">GeoPosition:</label>
        <select class="form-control" id="geoPosition" name="geoPosition" required>
            <option th:each="geoposition : ${geopositions}" th:value="${geoposition.id}" th:text="'('+${geoposition.latitude}+'; '+${geoposition.longitude}+')'"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Create a Maintainer</button>
</form>
<div th:include="footer"></div>
</body>

</html>