<!DOCTYPE html>

<html lang="en">
<head>
    <title>Maintainer list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body align="center">
{{> header}}
<div class="jumbotron text-center">
    <h1>Maintainer list</h1>
</div>
<table class="table table-hover" width="100%" align="center">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>user</th>
        <th>description</th>
        <th>geoPosition</th>
        <th>creation date</th>
    </tr>
    </thead>
    {{#maintainers}}
        <tr class="info">
            <th>{{id}}</th>
            <th>{{name}}</th>
            <th>{{User.login}}</th>
            <th>{{description}}</th>
            <th>({{GeoPosition.latitude}}; {{GeoPosition.longitude}})</th>
            <th>{{creationDate}}</th>
        </tr>
    {{/maintainers}}
</table>
<tr>
    <td colspan="5">
        <a href="/maintainer">Add Maintainer</a>
    </td>
</tr>
{{> footer}}
</body>

</html>