<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
        var map;

        DG.then(function () {
            map = DG.map('map', {
                // try to identify samara
                center: [53.11, 50.08],
                zoom: 10
            });

            //DG.marker([53.12, 50.06]).addTo(map).bindPopup('Вы кликнули по мне!');
        });
    </script>
</head>
<body th:align="center">
<div th:include="header"></div>
<div class="jumbotron text-center">
    <h1>2GIS - Samara</h1>
</div>
<div align="center">
    <div id="map" style="width:500px; height:400px"></div>
</div>
<div th:include="footer"></div>
</body>
</html>