<!DOCTYPE html>

<html lang="en">
<head>
    <title>User list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body align="center">
    {{> header}}
    <div class="jumbotron text-center">
        <h1>User list</h1>
    </div>

    <table class="table table-hover" width="100%" align="center">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>surname</th>
                <th>login</th>
                <th>email</th>
                <th>password</th>
                <th>creation date</th>
                <th>role</th>
            </tr>
        </thead>
        {{#users}}
            <tr class="info">
                <th>{{id}}</th>
                <th>{{name}}</th>
                <th>{{surname}}</th>
                <th>{{login}}</th>
                <th>{{email}}</th>
                <th>{{password}}</th>
                <th>{{creationDate}}</th>
                <th>{{role}}</th>
            </tr>
        {{/users}}
    </table>
    {{> footer}}
</body>

</html>