<!DOCTYPE html>

<html lang="en">
<head>
    <title>Yandex Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body align="center">
{{> header}}
<div class="jumbotron text-center">
    <h1>Yandex - Samara</h1>
</div>
<div align="center">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A603ea4481824fd70d806a2cce91db8a8a4cdf6964d99574d3b52f6d15a35196c&amp;width=518&amp;height=442&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{{> footer}}
</body>

</html>